<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-crear-row-col (rowAndCol)="capturarDatos($event)"></app-crear-row-col>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button (click)="crearMatriz()" [disabled]="disabledBotonCrearMatriz" class="btn btn-block btn-outline-success">
        Crear Matriz
      </button>
    </div>
    <div class="col-sm-4">
      <button (click)="transformarCaracteres()" [hidden]="hiden" d [disabled]="!esNumerico"
              class="btn btn-block btn-outline-success">
        Mostrar Matriz Caracteres
      </button>
    </div>
    <div class="col-sm-4">
      <button (click)="mostrarMatrizNumerica()" [hidden]="hiden" [disabled]="esNumerico"
              class="btn btn-block btn-outline-success">
        Mostrar Matriz Numérica
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-block btn-outline-info" [hidden]="hiden" (click)="actualizarTabla()"> Actualizar Datos
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 ">
      <table id="tabla" class=" table table-responsive-sm text-center">
      </table>
    </div>
  </div>
</div>
