<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-crear-row-col (rowAndCol)="capturarDatos($event)"></app-crear-row-col>
    </div>
    <div class="col-sm-3">
      <button class=" btn btn-block btn-outline-dark" (click)="cargarMatrizPrueba1()"> Cargar matriz 1</button>
    </div>
    <div class="col-sm-3">
      <button class=" btn btn-block btn-outline-dark" (click)="cargarMatrizPrueba2()"> Cargar matriz 2</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button (click)="crearMatriz()" [disabled]="disabledBotonCrearMatriz" class="btn btn-block btn-outline-success">
        Crear Matriz
      </button>
    </div>
    <div class="col-sm-3">
      <button (click)="mostrarMatrizCaracteres()" [hidden]="hiden" [disabled]="!esNumerico"
              class="btn btn-block btn-outline-success">
        Matriz Caracteres
      </button>
    </div>
    <div class="col-sm-3">
      <button (click)="mostrarMatrizNumerica()" [hidden]="hiden" [disabled]="esNumerico"
              class="btn btn-block btn-outline-success">
        Matriz Numérica
      </button>
    </div>
    <div class="col-sm-2">
      <button (click)="obternerHistograma()" [hidden]="hiden"
              class="btn btn-block btn-outline-success">
        Histograma
      </button>
    </div>
    <div class="col-sm-2">
      <button (click)="aplicarEcualizacion()" [hidden]="hiden" [disabled]="!histogramaCreado"
              class="btn btn-block btn-outline-success">
        Ecualización
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-block btn-outline-info" [hidden]="hiden" (click)="actualizarTabla()"> Actualizar Datos
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 ">
      <table id="tabla" class=" table table-responsive-sm text-center">
      </table>
    </div>
  </div>

  <div class="accordion" id="accordionExample" [hidden]="hiden">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            FILTROS
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <app-ventana (lengthAndWidth)="capturarDatosLargoAncho($event)"></app-ventana>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-sm-4 text-center">
              <button class="btn btn-dark" [disabled]="disabledBotonaplicarFiltro"
                      (click)="filtroVentanaRectangulares()">
                Filtro Rectangular
              </button>
            </div>
            <div class="col-sm-4 text-center">
              <button class="btn btn-dark" [disabled]="disabledBotonesFiltrosMasPor"
                      (click)="filtroVentanaMas()">
                Filtro Más
              </button>
            </div>
            <div class="col-sm-4 text-center">
              <button class="btn btn-dark" [disabled]="disabledBotonesFiltrosMasPor"
                      (click)="filtroVentanaPor()">
                Filtro Por
              </button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <br>
  <!--<div class="row">
    <div class="col-sm-12" *ngIf="grafico">
      <div *ngIf="grafico.data">
        <plotly-plot [data]="grafico?.data" [layout]="grafico.layout"></plotly-plot>
      </div>

    </div>
  </div>-->


</div>
